<!DOCTYPE html>
<html　lang=“en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="script.js"></script>


    <title> Jianlin Chen Protfolio </title>

</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <section class="container">

        <div class="row justify-content-center">

            <div class="col-12" id="welcome">
                <h1> Welcome to my Protfolio</h1>
            </div>
        </div>


        <section id="introduction" class="row justify-content-center">
            <div class="col-12 justify-content-md-center">
                <p>
                    My name is Jianlin Chen, a computer science graduate from NC State university.
                    My interested research field is machine learning and AI. During freetime I like hiking and camping.
                    I also love making video game,
                    web app, and mobile app along or collaborate with other.
                </p>
            </div>
        </section>

        <section id="projects" class="row justify-content-center">

            <div class="col-12">
                <p id="header">My projects</P>
            </div>

        </section>


        <section class="row">

            <div id="menu" class="col-12 text-center d-none d-sm-block d-md-none. ">
                <div>
                    <button ng-click="showAll()" class="btn btn-info btn-md"> All </button>


                    <button ng-click="showGame()" class="btn btn-info btn-md"> Games </button>


                    <button ng-click="showWeb()" class="btn btn-info btn-md"> WebApp </button>


                    <button ng-click="showMachineLearning()" class="btn btn-info btn-md"> Machine Learning </button>
                </div>
            </div>
        </section>
        <section class="row">

            <div class="w-100"></div>
            <!-- <div class="col-12"> -->
            <div>
                <ul class="list-group" id="projects_list">
                    <li class="list-group-item" ng-repeat="p in projects">
                        <div class="row">
                            <div class=" col-md-7 col-sm-7 col-12">

                                <img ng-src="{{p.img}}" class="image-responsive">

                            </div>

                            <div class=" col-md-5 col-sm-5 col-12">
                                <div class="row">

                                    <div class="col-12 col-md-12 col-sm-12">
                                        <p id="title"> {{p.title}} </p>
                                        <p id="description"> {{p.description}} </P>
                                    </div>

                                    <div class="col-12 col-md-12 col-sm-12 offset-3 offset-sm-0 offset-md-0">
                                        <a class="btn btn-success" href={{p.url}} target=_blank role="button">Click to
                                            Checkout!</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <!-- </div> -->
        </section>






        <footer id="contact_info" class="row">
            <div class="col-6">

                <p>Get in touch</p>
            </div>

            <div class="col-9">
                Email: <a href="mailto:88therisingsun.com">88therisingsun@gmail.com</a>

            </div>



        </footer>


    </section>
    </section>
    </div>


</body>

</html>