h1 {
    text-align:center;
    font-size: 2em;

}

#menu li {
    display:inline;
}

.spacing{
    margin-top: 100px;
    
   
}
#welcome{
   @extend .spacing;

}
#introduction{
    @extend .spacing;
}
#projects{
    @extend .spacing;
}
#contact_info{
   
    @extend .spacing
}

#projects_list li{
    display:block;
}

#header{
    text-align: center;

}